<div id="message_add_quiz" class="m-3"></div>
<div class="container">
    <!-- Title -->
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-heading fa-fw"></i></span>
        <input type="text" class="form-control" placeholder="Titre du quiz" aria-label="Titre" aria-describedby="basic-addon1"
            id="quiz_title">
    </div>

    <!-- Display results -->
    <div class="form-check form-switch ml-4">
        <input class="form-check-input" type="checkbox" role="switch" id="display_results" checked>
        <label class="form-check-label" for="display_results">Afficher les résultats en fin de quiz</label>
    </div>

    <!-- Random order -->
    <div class="form-check form-switch ml-4">
        <input class="form-check-input" type="checkbox" role="switch" id="order">
        <label class="form-check-label" for="order">Questions dans le désordre</label>
    </div>

    <!-- Questions -->
    <div id="addQuestion" class="accordion mt-3" ></div>

    <div class="d-flex justify-content-center mt-2">
        <button type="button" class="btn btn-warning" onclick="addQuestion();">
            <i class="fas fa-plus"></i>&nbsp;Ajouter une question
        </button>
    </div>

</div>
</div>