<div id="message_modify_quiz" class="m-3"></div>
<div class="container">

    <!-- Select the quiz -->

    <div class="input-group mb-3">

        <div class="input-group-prepend">
            <label class="input-group-text" for="classroom_list_modify"><i
                    class="fa-solid fa-circle-question fa-fw"></i></label>
        </div>
        <select class="custom-select quiz_list" id="quiz_list_modify" onchange="selectQuiz(this.value)">
        </select>
    </div>

    <div id="modify_quiz">
        <!-- ID -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon0"><i class="fa-solid fa-id-card fa-fw"></i></span>
            <input type="text" class="form-control" placeholder="ID" aria-label="ID" aria-describedby="basic-addon0"
                id="mod_quiz_id" disabled>
        </div>

        <!-- Title -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-heading fa-fw"></i></span>
            <input type="text" class="form-control" placeholder="Titre du quiz" aria-label="Titre"
                aria-describedby="basic-addon1" id="mod_quiz_title">
        </div>

        <!-- Display results -->
        <div class="form-check form-switch ml-4">
            <input class="form-check-input" type="checkbox" role="switch" id="mod_display_results" checked>
            <label class="form-check-label" for="mod_display_results">Afficher les résultats en fin de quiz</label>
        </div>

        <!-- Random order -->
        <div class="form-check form-switch ml-4">
            <input class="form-check-input" type="checkbox" role="switch" id="mod_order">
            <label class="form-check-label" for="mod_order">Questions dans le désordre</label>
        </div>

        <!-- Question -->
        <div id="modifyQuestions" class="accordion mt-3"></div>

        <!-- Add question -->
        <div class="d-flex justify-content-center mt-2">
            <button type="button" class="btn btn-warning" onclick="addQuestion('modifyQuestions');">
                <i class="fas fa-plus"></i>&nbsp;Ajouter une question
            </button>
        </div>

    </div>

</div>

<script>
    // Unselect the classroom_modify_list
    $("#modify_quiz").hide();
</script>