<div id="message_results_quiz" class="m-3"></div>
<div class="container-fluid">

    <div class="input-group mb-3">

        <div class="input-group-prepend">
            <label class="input-group-text" for="quiz_list_results"><i
                    class="fa-solid fa-circle-question fa-fw"></i></label>
        </div>
        <select class="custom-select quiz_list" id="quiz_list_results" onchange="resultsQuiz(this.value)">
        </select>
    </div>

    <table id="results" class="table table-striped nowrap" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th data-class-name="priority">Date</th>
                <th>Note</th>
                <th>Quiz</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
</div>

<script>
    results_table = new DataTable('#results', {
        responsive: true,
        select: true,
        order: [[2, 'desc']],
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/fr-FR.json',
        },
        select: {
            style: 'multi',
            // disable select info
            info: false
        }
    });
</script>