<script>
  (function ($) {
    "use strict"; // Start of use strict

    // Toggle the side navigation
    $("#sidebarToggle, #sidebarToggleTop").on("click", function (e) {
      $("body").toggleClass("sidebar-toggled");
      $(".sidebar").toggleClass("toggled");
      if ($(".sidebar").hasClass("toggled")) {
        $(".sidebar .collapse").collapse("hide");
      }
    });

    // Close any open menu accordions when window is resized below 768px
    $(window).resize(function () {
      resizeSidebar();
    });

    //  document ready
    $(document).ready(function () {
      resizeSidebar();
    });



    // Prevent the content wrapper from scrolling when the fixed side navigation hovered over
    $("body.fixed-nav .sidebar").on(
      "mousewheel DOMMouseScroll wheel",
      function (e) {
        if ($(window).width() > 768) {
          var e0 = e.originalEvent,
            delta = e0.wheelDelta || -e0.detail;
          this.scrollTop += (delta < 0 ? 1 : -1) * 30;
          e.preventDefault();
        }
      }
    );

    // Scroll to top button appear
    $(document).on("scroll", function () {
      var scrollDistance = $(this).scrollTop();
      if (scrollDistance > 100) {
        $(".scroll-to-top").fadeIn();
      } else {
        $(".scroll-to-top").fadeOut();
      }
    });

    // Smooth scrolling using jQuery easing
    $(document).on("click", "a.scroll-to-top", function (e) {
      var $anchor = $(this);
      $("html, body")
        .stop()
        .animate(
          {
            scrollTop: $($anchor.attr("href")).offset().top,
          },
          1000,
          "easeInOutExpo"
        );
      e.preventDefault();
    });
  })(jQuery); // End of use strict

  function resizeSidebar(){
    if ($(window).width() < 768) {
        $(".sidebar .collapse").collapse("hide");
      } else {
        $(".sidebar .collapse").collapse("show");
      }

      if ($(window).width() < 480) {
        $("body").addClass("sidebar-toggled");
        $(".sidebar").addClass("toggled");
        $(".sidebar .collapse").collapse("hide");
      } else {
        $("body").removeClass("sidebar-toggled");
        $(".sidebar").removeClass("toggled");
        $(".sidebar .collapse").collapse("show");
      }
  }
</script>


<!-- Sidebar -->
<ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
    <div class="sidebar-brand-icon">
      <img src="images/favicon.svg" width="50px" height="50px">
    </div>
    <div class="sidebar-brand-text mr-3 ml-3">PhysNet</div>
  </a>

  <!-- Divider -->

   <li class="nav-item mb-3 subtitle">
     <a class="nav-link align-items-center" href="https://ensciences.fr/"><em>by</em> <span class="ml-2"></span><i class="fas fa-atom sidebar_icon"></i><strong>ensciences.fr</strong></a>
   </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="tablinks btn btn-link nav-link" href="/index">
      <i class="fas fa-home sidebar_icon"></i>
      <span class="sidebar_span">Accueil</span>
    </a>

  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Actions
  </div>


  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="tablinks btn btn-link nav-link disabled" disabled>
      <i class="fas fa-hand-paper sidebar_icon"></i>
      <span class="sidebar_span">Appel</span>
    </a>

  </li>

  <!-- Nav Item - Tables -->
  <li class="nav-item">
    <a class="tablinks btn btn-link nav-link disabled" data-toggle="modal" href="#send" disabled>
      <i class="fas fa-file sidebar_icon"></i>
      <span class="sidebar_span">Envoi de document</span></a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider mt-2">

  <!-- Heading -->
  <div class="sidebar-heading">
    Outils
  </div>

  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <a class="tablinks btn btn-link nav-link" href="https://tableau.ensciences.fr/" target="_blank">
      <i class="fa-solid fa-toolbox sidebar_icon"></i>
      <span class="sidebar_span">Boîte à outils</span>
    </a>
</li>

<!-- Nav Item - Charts -->
<li class="nav-item">
  <a class="tablinks btn btn-link nav-link disabled" disabled>
    <i class="fas fa-font sidebar_icon"></i>
    <span class="sidebar_span">Dys</span>
  </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider mt-2">

<!-- Nav Item - Tables -->
<li class="nav-item">
  <a class="tablinks btn btn-link nav-link" href="/admin">
    <i class="fas fa-screwdriver-wrench sidebar_icon"></i>
    <span class="sidebar_span">Administration</span></a>
</li>

<!-- Nav Item - Tables -->
<li class="nav-item">
  <a class="tablinks btn btn-link nav-link" data-bs-toggle="modal" href="#propos">
    <i class="fas fa-info-circle sidebar_icon"></i>
    <span class="sidebar_span">À propos</span></a>
</li>



  <!-- Sidebar Toggler (Sidebar)-->
  <div class="text-center d-none d-md-inline mt-3">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>





</ul>


  <div class="modal fade" id="propos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-question-circle"></i>&nbsp;À propos</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>PhysNet &copy; pour ensciences.fr (2020-2023)<br>

          Développement : Th. G<br>

          Version : alpha, Juillet 2023</p>
        </div>

      </div>
    </div>
    </div>

    <!-- <div class="modal fade" id="send" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Envoyer un fichier</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form ref='uploadForm'
            id='uploadForm'
            action='/upload'
            method='post'
            encType="multipart/form-data">
                <input type="file" name="sampleFile" />
                <input type='submit' class="btn btn-primary mt-2 mb-2" value='Envoyer le fichier' />
            </form>
          </div>
        </div>
      </div>
    </div> -->
<!-- End of Sidebar -->
