

.large{
	font-size: 20px !important;
}

.huge{
	font-size: 30px;
}

.main{
	margin: 60px;
}

.title{
	color: #888;
}

.card{
	border-radius: 10px;
}

.btn_answer{
	border: 1px solid #333;
  background-color: #fff;
  color: #333;
}

.btn_answer:hover{
  background-color: #20c9a6;
  color: #fff;
}

.btn_answer:active{
  background-color: #126d5b;
  color: #fff;
}

.date{
	color: #555;
}

.question{
	font-size: 20px;
	font-weight: bold;
}

.checkbox_answer{
	visibility: hidden;
  position: absolute;
}

.card_button{
	white-space: nowrap;
}

.disabled{
  pointer-events: none;
  opacity: 0.4;
}

#content_index{
    /* fill height */
    max-height: calc(100vh - 70px)!important;
}

#classroom_main{
    position: relative;
    padding: 0px!important;
    padding-right: 30px!important;
    padding-left: 30px!important;
}

#classroom_list{
    overflow-x: hidden;
}

.col-classroom{
    max-width: 400px;
    overflow-y: auto;
    height: calc(100vh - 170px)!important;
    max-height: calc(100vh - 170px)!important;
    /* border-right: 1px solid #DDD; */
}

#scroll-right{
    /* vertically centered button in classroom main */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    z-index: 10;
    margin-right: 10px;
}

#scroll-left{
    /* vertically centered button in classroom main */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    z-index: 10;
    margin-left: 10px;
}

div .is-invalid{
    border-color: #dc3545!important;
}

.note-toolbar{
    border-radius: 10px 10px 00px 0px!important;
}

#text img{
    /* align image to center */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%!important;
}

#console{
    /* fill height */
    height: 250px!important;
    max-height: 250px!important;
}

#qrcode img {
  margin: auto;
  display: block;
  width: 100%;
}

.dataTables_filter input{
  width: 50%!important;
}

.dataTables_filter label{
  /* align items to the right */
  /* Make a flex container */
  display: flex;
  justify-content: flex-end!important;
}

#modules_table tbody td {
  /* vertical align middle */
  vertical-align: middle!important;
}

#modules_table tbody th {
  /* vertical align middle */
  vertical-align: middle!important;
}

.split {
  display: flex;
  flex: 1;
  border: 1px solid #cbd5e0;
  height: 100%;
  width: 100%;
}
.split_left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
.split_resizer {
  background-color: #b6cadf;
  cursor: ew-resize;
  height: 100%;
  width: 10px;
  /* Add a grip symbol at the center */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M20 9H4v2h16V9zM4 15h16v-2H4v2z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}
.split_right {
  display: flex;
  flex : 1;
  height: 100%;
}

.responsive-iframe {
  flex: 1;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: none;
}

.embed-responsive-iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%!important;
}

.sticky-footer{
  z-index: 999;
}

/* On small screens <480px */
@media screen and (max-width: 480px) {
  #text img{
    width: 100%!important;
}

.modal-body .container{
  padding: 0;
}

.container{
  overflow: scroll;
}
.split {
  display: block;
  border: 1px solid #cbd5e0;
  height: 100%;
  width: 100%;
}
.split_left {
  display: block;
  height: 500px;
  width: 100%;
}
.split_resizer {
  display: none;
}
.split_right {
  display: block;
  height: 500px;
}

}