<div id="message_modify_classroom" class="m-3"></div>
<div class="container">

    <!-- Select the classroom -->

    <div class="input-group mb-3">

        <div class="input-group-prepend">
            <label class="input-group-text" for="classroom_list_modify"><i
                    class="fa-solid fa-user-graduate fa-fw"></i></label>
        </div>
        <select class="custom-select classroom_list" id="classroom_list_modify" onchange="selectClassroom(this.value)">
        </select>
    </div>



    <div id="modify_classroom">

        <hr>

        <h5 class="mb-3">Configuration générale</h5>
        <div class="row">
            <div class="col">
                <!-- ID -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon0" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Identifiant"><i class="fa-solid fa-id-card fa-fw"></i></span>
                    <input type="text" class="form-control" placeholder="ID" aria-label="ID"
                        aria-describedby="basic-addon0" id="mod_id" disabled>
                    <a href="#" class="btn btn-outline-secondary" id="see_classroom" target="_blank"><i
                            class="fa-solid fa-eye fa-fw"></i></a>
                </div>
            </div>
            <div class="col">
                <!-- Level -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Niveau"><i class="fa-solid fa-graduation-cap fa-fw"></i></span>
                    <input type="text" class="form-control" placeholder="Niveau" aria-label="Niveau"
                        aria-describedby="basic-addon2" id="mod_level">
                </div>
            </div>
        </div>

        <!-- Title -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1" data-bs-toggle="tooltip" data-bs-placement="bottom"
                title="Titre et consignes"><i class="fa-solid fa-heading fa-fw"></i></span>
            <input type="text" class="form-control" placeholder="Titre" aria-label="Titre"
                aria-describedby="basic-addon1" id="mod_title">
        </div>

        <!-- Instructions -->
        <div id="mod_instructions"></div>
        <script>
            $("#mod_instructions").summernote({
                placeholder: "Consignes",
                lang: "fr-FR"
            });

            // Fix summernote
            fixSummernote();
        </script>
        <p></p>

        <div class="row">
            <div class="col">
                <!-- Date -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Date"><i class="fa-solid fa-calendar fa-fw"></i></span>
                    <input type="date" class="form-control" placeholder="Date" aria-label="Date"
                        aria-describedby="basic-addon1" id="mod_date">
                </div>
            </div>
            <div class="col">
                <!-- Time -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon4" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Durée"><i class="fa-solid fa-clock fa-fw"></i></span>
                    <input type="time" class="form-control" placeholder="Heure" aria-label="Heure"
                        aria-describedby="basic-addon1" id="mod_time">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <!-- Password -->
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon5" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        title="Mot de passe"><i class="fa-solid fa-key fa-fw"></i></span>
                    <input type="password" class="form-control" placeholder="Mot de passe" aria-label="Mot de passe"
                        aria-describedby="basic-addon1" id="mod_password" autocomplete="new-password">
                </div>
            </div>
            <div class="col">
                <!-- Active -->
                <div class="form-check-inline form-switch ml-4 mt-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="mod_active" checked>
                    <label class="form-check-label" for="active">Actif</label>
                </div>
                <!-- Visible -->
                <div class="form-check-inline form-switch ml-4 mt-2">
                    <input class="form-check-input" type="checkbox" role="switch" id="mod_visible" checked>
                    <label class="form-check-label" for="visible">Visible</label>
                </div>
            </div>
        </div>

        <h5 class="mt-3 mb-3">Ressources à dispositions</h5>

        <!-- Documents -->
        <div id="modifyDocument" class="accordion mt-3"></div>

        <h5 class="mt-3 mb-3"><i class="fa-solid fa-plus fa-fw"></i>&nbsp;Ajouter un élément à la salle de classe</h5>
        <div class="d-flex flex-wrap justify-content-center mt-2" id="modClassroomActivities">

        </div>


    </div>

</div>

<script>
    // Unselect the classroom_modify_list
    $("#modify_classroom").hide();
</script>