<script>
  (function ($) {
    "use strict"; // Start of use strict

    // Toggle the side navigation
    $("#sidebarToggle, #sidebarToggleTop").on("click", function (e) {
      $("body").toggleClass("sidebar-toggled");
      $(".sidebar").toggleClass("toggled");
      if ($(".sidebar").hasClass("toggled")) {
        $(".sidebar .collapse").collapse("hide");
      }
    });

    // Close any open menu accordions when window is resized below 768px
    $(window).resize(function () {
      resizeSidebar();
    });

    //  document ready
    $(document).ready(function () {
      resizeSidebar();
    });



    // Prevent the content wrapper from scrolling when the fixed side navigation hovered over
    $("body.fixed-nav .sidebar").on(
      "mousewheel DOMMouseScroll wheel",
      function (e) {
        if ($(window).width() > 768) {
          var e0 = e.originalEvent,
            delta = e0.wheelDelta || -e0.detail;
          this.scrollTop += (delta < 0 ? 1 : -1) * 30;
          e.preventDefault();
        }
      }
    );

    // Scroll to top button appear
    $(document).on("scroll", function () {
      var scrollDistance = $(this).scrollTop();
      if (scrollDistance > 100) {
        $(".scroll-to-top").fadeIn();
      } else {
        $(".scroll-to-top").fadeOut();
      }
    });

    // Smooth scrolling using jQuery easing
    $(document).on("click", "a.scroll-to-top", function (e) {
      var $anchor = $(this);
      $("html, body")
        .stop()
        .animate(
          {
            scrollTop: $($anchor.attr("href")).offset().top,
          },
          1000,
          "easeInOutExpo"
        );
      e.preventDefault();
    });
  })(jQuery); // End of use strict

  function resizeSidebar() {
    if ($(window).width() < 768) {
      $(".sidebar .collapse").collapse("hide");
    } else {
      $(".sidebar .collapse").collapse("show");
    }

    if ($(window).width() < 480) {
      $("body").addClass("sidebar-toggled");
      $(".sidebar").addClass("toggled");
      $(".sidebar .collapse").collapse("hide");
    } else {
      $("body").removeClass("sidebar-toggled");
      $(".sidebar").removeClass("toggled");
      $(".sidebar .collapse").collapse("show");
    }
  }
</script>


<!-- Sidebar -->
<ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index">
    <div class="sidebar-brand-icon">
      <img src="images/favicon.svg" width="50px" height="50px">
    </div>
    <div class="sidebar-brand-text mr-3 ml-3">PhysNet</div>
  </a>

  <!-- Divider -->

  <li class="nav-item mb-3 subtitle">
    <a class="nav-link align-items-center" href="https://ensciences.fr/"><em>by</em> <span class="ml-2"></span><i
        class="fas fa-atom sidebar_icon"></i><strong>ensciences.fr</strong></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Index -->
  <li class="nav-item">
    <a class="tablinks btn btn-link nav-link" href="/index">
      <i class="fas fa-home sidebar_icon"></i>
      <span class="sidebar_span">Accueil</span>
    </a>

  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Com. 
  </div>

  <!-- Nav Item - message modal -->
  <li class="nav-item">
    <button class="tablinks btn btn-link nav-link" data-bs-toggle="modal" data-bs-target="#messageModal">
      <i class="fas fa-envelope sidebar_icon"></i>
      <span class="sidebar_span">Message</span>
    </button>
  </li>

  <!-- Nav Item - url modal -->
  <li class="nav-item">
    <button class="tablinks btn btn-link nav-link" data-bs-toggle="modal" data-bs-target="#linkModal">
      <i class="fas fa-link sidebar_icon"></i>
      <span class="sidebar_span">URL</span>
    </button>
  </li>

  <!-- Nav Item - file modal -->
  <li class="nav-item">
    <button class="tablinks btn btn-link nav-link" data-bs-toggle="modal" data-bs-target="#fileModal">
      <i class="fas fa-file sidebar_icon"></i>
      <span class="sidebar_span">Fichier</span>
    </button>
  </li>

  <!-- Nav Item - clean -->
  <li class="nav-item">
    <button class="tablinks btn btn-link nav-link" data-bs-toggle="modal" data-bs-target="#cleanModal">
      <i class="fas fa-trash sidebar_icon"></i>
      <span class="sidebar_span">Nettoyer</span>
    </button>
  </li>

    <!-- Divider -->
    <hr class="sidebar-divider mt-2">

  <!-- Heading -->
  <div class="sidebar-heading">
    Salle de classe
  </div>

  <!-- Nav Item - Add modal -->
  <li class="nav-item">
    <button class="tablinks btn btn-link nav-link" data-bs-toggle="modal" data-bs-target="#classroomModal">
      <i class="fas fa-plus sidebar_icon"></i>
      <span class="sidebar_span">Ajouter</span>
    </button>
  </li>

  <!-- Nav Item - Modify modal -->

  <li class="nav-item">
    <button class="tablinks btn btn-link nav-link" data-bs-toggle="modal" data-bs-target="#classroomModifyModal">
      <i class="fas fa-edit sidebar_icon"></i>
      <span class="sidebar_span">Modifier</span>
    </button>
  </li>

  <!-- Divider -->
  <!-- <hr class="sidebar-divider mt-2"> -->

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
     Modules
    </div> -->
  

  

  <!-- Sidebar Toggler (Sidebar)-->
  <div class="text-center d-none d-md-inline mt-3">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>





</ul>



<!-- End of Sidebar -->