<script>
  $(function () {
    var includes = $("[data-include-module-views]");
    jQuery.each(includes, function () {
      var file = $(this).data("include-module-views") + ".html";
      $(this).load(file);
    });
    loadJS("modules/notebook/js/main.js");
    loadJS("modules/notebook/js/add_notebook.js");
    loadJS("modules/notebook/js/modify_notebook.js");
    loadJS("modules/notebook/js/notebook_files.js");

    // Initialize tooltips
    let tooltipTriggerList = document.querySelectorAll('[data-tooltip="tooltip"]')
    let tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  });

  $("#modules_tbody").append(
    `
    <tr>
      <th scope="row">
        <div class="text-secondary">
          <i class="fa-brands fa-python fa-fw"></i>&nbsp;Cahier Python
        </div>
      </th>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#notebookModal"
            data-tooltip="tooltip" data-bs-placement="top" data-bs-title="Ajouter un cahier Python">
            <i class="fa-solid fa-plus"></i>
          </button>

          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#notebookModifyModal"
            data-tooltip="tooltip" data-bs-placement="top" data-bs-title="Modifier un cahier Python">
            <i class="fa-solid fa-edit"></i>
          </button>

          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#notebookFilesModal"
            data-tooltip="tooltip" data-bs-placement="top" data-bs-title="Fichiers des boîtes de dépôt">
            <i class="fa-solid fa-chart-bar"></i>
          </button>
        </div>
      </td>
    </tr>
    `
  )

</script>

<!-- Add an notebook -->
<div class="modal fade" id="notebookModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="notebookModalLabel"><i class="fa-solid fa-plus"></i>&nbsp;Ajouter un cahier Python
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div data-include-module-views="modules/notebook/views/add_notebook"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"
          onclick='if(confirm("Êtes-vous sûr de vouloir annuler les modifications ?")) {clearCreateNotebook();}'>
          <i class="fa-solid fa-times"></i>&nbsp;
          Annuler</button>
        <button type="button" class="btn btn-primary" id="addNotebookSubmit" onclick="createNotebook();">
          <i class="fa-solid fa-check"></i>&nbsp;
          Valider</button>
      </div>
    </div>
  </div>

</div>


<!-- Modify a notebook -->
<div class="modal fade" id="notebookModifyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="notebookModifyModalLabel"><i class="fa-solid fa-edit"></i>&nbsp;Modifier un cahier Python</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div data-include-module-views="modules/notebook/views/modify_notebook"></div>
      </div>

      <div class="modal-footer">
        <span class="me-auto">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close"
            onclick="deleteNotebook();" id="deleteNotebook" disabled>
            <i class="fa-solid fa-trash"></i>&nbsp;
            Supprimer</button>
        </span>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"
          onclick='if(confirm("Êtes-vous sûr de vouloir annuler les modifications ?")) {clearModifyNotebook();}'>
          <i class="fa-solid fa-times"></i>&nbsp;
          Annuler</button>
        <button type="button" class="btn btn-primary" id="modifyNotebookSubmit" onclick='modifyNotebook();'
          disabled>
          <i class="fa-solid fa-check"></i>&nbsp;
          Valider</button>
      </div>
    </div>
  </div>
</div>

<!-- Files list -->
<div class="modal fade" id="notebookFilesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" style="max-width:95%;">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="notebookFilesModalLabel"><i class="fa-solid fa-chart-bar"></i>&nbsp;Fichiers des
          cahiers Python</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div data-include-module-views="modules/notebook/views/notebook_files"></div>
      </div>

      <div class="modal-footer">
        <span class="me-auto">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close"
            onclick="deleteNotebookFiles();" id="deleteNotebookFiles" disabled>
            <i class="fa-solid fa-trash"></i>&nbsp;
            Supprimer</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" aria-label="Close"
            onclick="downloadNotebookFiles();" id="downloadNotebookFiles" disabled>
            <i class="fa-solid fa-download"></i>&nbsp;
            Télécharger les fichiers
          </button>
        </span>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-times"></i>&nbsp;
          Fermer</button>
      </div>
    </div>
  </div>
</div>

