<script>
  $(function () {
    var includes = $("[data-include-module-views]");
    jQuery.each(includes, function () {
      var file = $(this).data("include-module-views") + ".html";
      $(this).load(file);
    });
    loadJS("modules/audio_record/js/main.js");
    loadJS("modules/audio_record/js/add_audio_record.js");
    loadJS("modules/audio_record/js/modify_audio_record.js");
    loadJS("modules/audio_record/js/files_audio_record.js");

    // Initialize tooltips
    let tooltipTriggerList = document.querySelectorAll('[data-tooltip="tooltip"]')
    let tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  });



  $("#modules_tbody").append(
    `
  <tr>
    <th scope="row">
      <div class="text-secondary">
        <i class="fa-solid fa-microphone fa-fw"></i>&nbsp;Oral
      </div>
    </th>
    <td>
      <div class="btn-group">
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#audioModal"
          data-tooltip="tooltip" data-bs-placement="top" data-bs-title="Ajouter un oral">
          <i class="fa-solid fa-plus"></i>
        </button>

        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#audioModifyModal"
          data-tooltip="tooltip" data-bs-placement="top" data-bs-title="Modifier un oral">
          <i class="fa-solid fa-edit"></i>
        </button>

        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#audioFilesModal"
          data-tooltip="tooltip" data-bs-placement="top" data-bs-title="Fichiers audio">
          <i class="fa-solid fa-chart-bar"></i>
        </button>
      </div>
    </td>
  </tr>
  `
  )
</script>

<!-- Add an audio -->
<div class="modal fade" id="audioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="audioModalLabel"><i class="fa-solid fa-plus"></i>&nbsp;Ajouter un oral
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div data-include-module-views="modules/audio_record/views/add_audio"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"
          onclick='if(confirm("Êtes-vous sûr de vouloir annuler les modifications ?")) {clearCreateAudio();}'>
          <i class="fa-solid fa-times"></i>&nbsp;
          Annuler</button>
        <button type="button" class="btn btn-primary" id="addAudioSubmit" onclick="createAudio();">
          <i class="fa-solid fa-check"></i>&nbsp;
          Valider</button>
      </div>
    </div>
  </div>

</div>


<!-- Modify a audio -->
<div class="modal fade" id="audioModifyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="audioModifyModalLabel"><i class="fa-solid fa-edit"></i>&nbsp;Modifier un
          oral</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div data-include-module-views="modules/audio_record/views/modify_audio"></div>
      </div>

      <div class="modal-footer">
        <span class="me-auto">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close"
            onclick="deleteAudio();" id="deleteAudio" disabled>
            <i class="fa-solid fa-trash"></i>&nbsp;
            Supprimer</button>
        </span>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"
          onclick='if(confirm("Êtes-vous sûr de vouloir annuler les modifications ?")) {clearModifyAudio();}'>
          <i class="fa-solid fa-times"></i>&nbsp;
          Annuler</button>
        <button type="button" class="btn btn-primary" id="modifyAudioSubmit" onclick='modifyAudio();' disabled>
          <i class="fa-solid fa-check"></i>&nbsp;
          Valider</button>
      </div>
    </div>
  </div>
</div>

<!-- Files audio -->
<div class="modal fade" id="audioFilesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" style="max-width:95%;">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="audioFilesModalLabel"><i class="fa-solid fa-chart-bar"></i>&nbsp;Fichiers audio
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div data-include-module-views="modules/audio_record/views/files_audio"></div>
      </div>

      <div class="modal-footer">
        <span class="me-auto">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close"
            onclick="deleteAudioFiles();" id="deleteAudioFiles" disabled>
            <i class="fa-solid fa-trash"></i>&nbsp;
            Supprimer</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" aria-label="Close"
            onclick="downloadAudioFiles();" id="downloadAudioFiles" disabled>
            <i class="fa-solid fa-download"></i>&nbsp;
            Télécharger les fichiers
          </button>
        </span>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-times"></i>&nbsp;
          Fermer</button>
      </div>
    </div>
  </div>
</div>