<div id="message_add_notebook" class="m-3"></div>
<div class="container">
    <!-- Title -->
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-heading fa-fw"></i></span>
        <input type="text" class="form-control" placeholder="Titre du cahier Python" aria-label="Titre"
            aria-describedby="basic-addon1" id="notebook_title">
    </div>

    <!-- Switch for blocalgo type notebook -->
    <div class="form-check form-switch ml-4 mb-3">
        <input class="form-check-input" type="checkbox" role="switch" id="blocalgo_type">
        <label class="form-check-label" for="blocalgo_type">Notebook BlocAlgo&nbsp;<span><i
                    class="fa-solid fa-question-circle fa-fw" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Un notebook BlocAlgo est un notebook Python dont les cellules sont programmées avec un langage type bloc (ex. Scratch)."></i></span>
        </label>
    </div>

    <!-- IPYNB File -->
    <span class="text-secondary">Fichier IPYNB :</span>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-file fa-fw"></i></span>
        <input type="file" class="form-control" placeholder=".ipynb" aria-label="Fichier"
            aria-describedby="basic-addon1" id="notebook_file" accept=".ipynb">
    </div>

    <span class="text-secondary">Fichier auxiliaire (exploité par le notebook) :</span>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-puzzle-piece"></i></span>
        <input type="file" class="form-control" aria-label="Fichier" aria-describedby="basic-addon1" id="notebook_aux">
    </div>

    <!-- Additionnal url resource -->
    <span class="text-secondary">Ressource additionnelle (mode côte à côte) :</span>
    <div class="row">
        <div class="col col-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-link fa-fw"></i></span>
                <input type="text" class="form-control" placeholder="https://..." aria-label="URL"
                    aria-describedby="basic-addon1" id="doc_url">
            </div>
        </div>
        <div class="col col-6">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-file fa-fw"></i></span>
                <input type="file" class="form-control" placeholder=".pdf, .png, .jpg, .jpeg, .gif, .mp4"
                    aria-label="Fichier" aria-describedby="basic-addon1" id="doc_file"
                    accept=".pdf, .png, .jpg, .jpeg, .gif, .mp4">
                <!-- Clear input button -->
                <button class="btn btn-outline-danger" type="button" id="clear_doc_file"
                    onclick="$(this).prev().val('')"><i class="fa-solid fa-times fa-fw"></i></button>
            </div>
        </div>
    </div>

    <!-- Instructions (summernote) -->
    Consignes :
    <div id="notebook_instructions"></div>

    <!-- Password -->
    <div class="input-group mt-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock fa-fw"></i></span>
        <input type="text" class="form-control" placeholder="Code de dépôt" aria-label="Mot de passe"
            aria-describedby="basic-addon1" id="notebook_pass">
    </div>
    <p class="mb-3 text-secondary">Mot de passe requis pour déposer un fichier.</p>

</div>
</div>

<script>
    $('#notebook_instructions').summernote();
</script>