<div id="message_mod_notebook" class="m-3"></div>
<div class="container">

    <div class="input-group mb-3">

        <div class="input-group-prepend">
            <label class="input-group-text" for="notebook_list_modify"><i class="fa-brands fa-python fa-fw"></i></label>
        </div>
        <select class="custom-select notebook_list" id="notebook_list_modify" onchange="selectNotebook(this.value)">
        </select>
    </div>

    <div id="modify_notebook">

        <!-- ID -->
        <input type="text" id="notebook_mod_id" hidden>

        <!-- Title -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-heading fa-fw"></i></span>
            <input type="text" class="form-control" placeholder="Titre du cahier Python" aria-label="Titre"
                aria-describedby="basic-addon1" id="notebook_mod_title">
        </div>

        <!-- Switch for blocalgo type notebook -->
        <div class="form-check form-switch ml-4 mb-3">
            <input class="form-check-input" type="checkbox" role="switch" id="mod_blocalgo_type">
            <label class="form-check-label" for="mod_blocalgo_type">Notebook BlocAlgo&nbsp;<span><i
                        class="fa-solid fa-question-circle fa-fw" data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Un notebook BlocAlgo est un notebook Python dont les cellules sont programmées avec un langage type bloc (ex. Scratch)."></i></span>
            </label>
        </div>

        <!-- IPYNB File -->
        <span class="text-secondary">Fichier IPYNB (sans nouveau fichier, le précédent sera conservé) :</span>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-file fa-fw"></i></span>
            <input type="file" class="form-control" placeholder=".ipynb" aria-label="Fichier"
                aria-describedby="basic-addon1" id="notebook_mod_file" accept=".ipynb">
            <a href="" id="notebook_mod_file_link" target="_blank" class="btn btn-outline-success" target="_blank"><i
                    class="fa-solid fa-download fa-fw"></i></a>
        </div>

        <span class="text-secondary">Fichier auxiliaire (exploité par le notebook) :</span>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-puzzle-piece"></i></span>
            <input type="file" class="form-control" aria-label="Fichier" aria-describedby="basic-addon1"
                id="notebook_mod_aux">
        </div>
        <div id="aux_mod_prev" class="d-none mb-3">
            <a href="" id="aux_mod_file_link" target="_blank" class="btn-link" target="_blank"><i
                    class="fa-solid fa-download fa-fw"></i></a>
            <span class="float-end">
                <button class="btn btn-outline-danger btn-sm" type="button" id="clear_aux_file_prev"
                    onclick="deleteAuxFile();"><i class="fa-solid fa-times fa-fw"></i></button>
            </span>
        </div>

        <!-- Additionnal url resource -->
        <span class="text-secondary">Ressource additionnelle (mode côte à côte) :</span>
        <div class="row">
            <div class="col col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-link fa-fw"></i></span>
                    <input type="text" class="form-control" placeholder="https://..." aria-label="URL"
                        aria-describedby="basic-addon1" id="doc_mod_url">
                </div>
            </div>
            <div class="col col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-file fa-fw"></i></span>
                    <input type="file" class="form-control" placeholder=".pdf, .png, .jpg, .jpeg, .gif, .mp4"
                        aria-label="Fichier" aria-describedby="basic-addon1" id="doc_mod_file"
                        accept=".pdf, .png, .jpg, .jpeg, .gif, .mp4">
                </div>

                <div id="doc_mod_prev" class="d-none mb-3">
                    <a href="" id="doc_mod_file_link" target="_blank" class="btn-link" target="_blank"><i
                            class="fa-solid fa-download fa-fw"></i></a>
                    <span class="float-end">
                        <button class="btn btn-outline-danger btn-sm" type="button" id="clear_doc_file_prev"
                            onclick="deleteDocFile();"><i
                                class="fa-solid fa-times fa-fw"></i></button>
                    </span>
                </div>
            </div>
        </div>

        <!-- Instructions (summernote) -->
        Consignes :
        <div id="notebook_mod_instructions"></div>

        <!-- Password -->
        <div class="input-group mt-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock fa-fw"></i></span>
            <input type="text" class="form-control" placeholder="Code de dépôt" aria-label="Mot de passe"
                aria-describedby="basic-addon1" id="notebook_mod_pass">
        </div>
        <p class="mb-3 text-secondary">Mot de passe requis pour déposer un fichier.</p>

    </div>
</div>
</div>

<script>
    $('#notebook_mod_instructions').summernote();
</script>