<script>
  $(function () {
    var includes = $("[data-include-module-views]");
    jQuery.each(includes, function () {
      var file = $(this).data("include-module-views") + ".html";
      $(this).load(file);
    });
    loadJS("modules/file_deposit/js/main.js");
    loadJS("modules/file_deposit/js/add_file_deposit.js");
    loadJS("modules/file_deposit/js/modify_file_deposit.js");
    loadJS("modules/file_deposit/js/file_deposit_files.js");

    // Initialize tooltips
    let tooltipTriggerList = document.querySelectorAll('[data-tooltip="tooltip"]')
    let tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  });

  $("#modules_tbody").append(
    `
    <tr>
      <th scope="row">
        <div class="text-secondary">
          <i class="fa-solid fa-box-open fa-fw"></i>&nbsp;Boîte de dépôt
        </div>
      </th>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#fileDepositModal"
            data-tooltip="tooltip" data-bs-placement="top" data-bs-title="Ajouter une boîte de dépôt">
            <i class="fa-solid fa-plus"></i>
          </button>

          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#fileModifyModal"
            data-tooltip="tooltip" data-bs-placement="top" data-bs-title="Modifier une boîte de dépôt">
            <i class="fa-solid fa-edit"></i>
          </button>

          <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#fileDepositFilesModal"
            data-tooltip="tooltip" data-bs-placement="top" data-bs-title="Fichiers des boîtes de dépôt">
            <i class="fa-solid fa-chart-bar"></i>
          </button>
        </div>
      </td>
    </tr>
    `
  )

</script>

<!-- Add an file_deposit -->
<div class="modal fade" id="fileDepositModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="fileDepositModalLabel"><i class="fa-solid fa-plus"></i>&nbsp;Ajouter une boîte de
          dépôt
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div data-include-module-views="modules/file_deposit/views/add_file_deposit"></div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"
          onclick='if(confirm("Êtes-vous sûr de vouloir annuler les modifications ?")) {clearCreateFileDeposit();}'>
          <i class="fa-solid fa-times"></i>&nbsp;
          Annuler</button>
        <button type="button" class="btn btn-primary" id="addFileDepositSubmit" onclick="createFileDeposit();">
          <i class="fa-solid fa-check"></i>&nbsp;
          Valider</button>
      </div>
    </div>
  </div>

</div>


<!-- Modify a file_deposit -->
<div class="modal fade" id="fileModifyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="fileModifyModalLabel"><i class="fa-solid fa-edit"></i>&nbsp;Modifier une boîte de
          dépôt</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div data-include-module-views="modules/file_deposit/views/modify_file_deposit"></div>
      </div>

      <div class="modal-footer">
        <span class="me-auto">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close"
            onclick="deleteFileDeposit();" id="deleteFileDeposit" disabled>
            <i class="fa-solid fa-trash"></i>&nbsp;
            Supprimer</button>
        </span>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close"
          onclick='if(confirm("Êtes-vous sûr de vouloir annuler les modifications ?")) {clearModifyFileDeposit();}'>
          <i class="fa-solid fa-times"></i>&nbsp;
          Annuler</button>
        <button type="button" class="btn btn-primary" id="modifyFileDepositSubmit" onclick='modifyFileDeposit();'
          disabled>
          <i class="fa-solid fa-check"></i>&nbsp;
          Valider</button>
      </div>
    </div>
  </div>
</div>

<!-- Files list -->
<div class="modal fade" id="fileDepositFilesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" style="max-width:95%;">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="fileDepositFilesModalLabel"><i class="fa-solid fa-chart-bar"></i>&nbsp;Fichiers des
          boîtes de dépôt</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        </button>
      </div>

      <div class="modal-body">
        <div data-include-module-views="modules/file_deposit/views/file_deposit_files"></div>
      </div>

      <div class="modal-footer">
        <span class="me-auto">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close"
            onclick="deleteFileDepositFiles();" id="deleteFileDepositFiles" disabled>
            <i class="fa-solid fa-trash"></i>&nbsp;
            Supprimer</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" aria-label="Close"
            onclick="downloadFileDepositFiles();" id="downloadFileDepositFiles" disabled>
            <i class="fa-solid fa-download"></i>&nbsp;
            Télécharger les fichiers
          </button>
        </span>

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-times"></i>&nbsp;
          Fermer</button>
      </div>
    </div>
  </div>
</div>