<div id="message_add_audio" class="m-3"></div>
<div class="container">
    <!-- Title -->
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-heading fa-fw"></i></span>
        <input type="text" class="form-control" placeholder="Titre de l'oral" aria-label="Titre"
            aria-describedby="basic-addon1" id="audio_title">
    </div>

    <!-- Time -->
    <div class="input-group ">
        <span class="input-group-text"><i class="fa-solid fa-clock fa-fw"></i></span>
        <input type="time" class="form-control" id="audio_time" min="00:00" max="02:00">
        <span class="input-group-text">(min:sec)</span>
    </div>
    <p class="mb-3 text-secondary">Pour une durée illimitée, saisir 00:00.</p>

    <!-- Instructions (summernote) -->
    Consignes :
    <div id="audio_instructions"></div>

    <!-- Password -->
    <div class="input-group mt-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock fa-fw"></i></span>
        <input type="text" class="form-control" placeholder="Code de dépôt" aria-label="Mot de passe"
            aria-describedby="basic-addon1" id="audio_pass">
    </div>
    <p class="mb-3 text-secondary">Mot de passe requis pour déposer un fichier.</p>

</div>
</div>

<script>
    $('#audio_instructions').summernote();
</script>