<div id="message_mod_audio" class="m-3"></div>
<div class="container">

    <div class="input-group mb-3">

        <div class="input-group-prepend">
            <label class="input-group-text" for="classroom_list_modify"><i
                    class="fa-solid fa-microphone fa-fw"></i></label>
        </div>
        <select class="custom-select audio_list" id="audio_list_modify" onchange="selectAudio(this.value)">
        </select>
    </div>

    <div id="modify_audio">

        <!-- ID -->
        <input type="text" id="audio_mod_id" hidden>

        <!-- Title -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-heading fa-fw"></i></span>
            <input type="text" class="form-control" placeholder="Titre de l'oral" aria-label="Titre"
                aria-describedby="basic-addon1" id="audio_mod_title">
        </div>

        <!-- Time -->
        <div class="input-group ">
            <span class="input-group-text"><i class="fa-solid fa-clock fa-fw"></i></span>
            <input type="time" class="form-control" id="audio_mod_time" min="00:00" max="02:00">
            <span class="input-group-text">(min:sec)</span>
        </div>
        <p class="mb-3 text-secondary">Pour une durée illimitée, saisir 00:00.</p>

        <!-- Instructions (summernote) -->
        Consignes :
        <div id="audio_mod_instructions"></div>

        <!-- Password -->
        <div class="input-group mt-3">
            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock fa-fw"></i></span>
            <input type="text" class="form-control" placeholder="Code de dépôt" aria-label="Mot de passe"
                aria-describedby="basic-addon1" id="audio_mod_pass">
        </div>
        <p class="mb-3 text-secondary">Mot de passe requis pour déposer un fichier.</p>

    </div>
</div>
</div>

<script>
    $('#audio_mod_instructions').summernote();
</script>